{% block content %}
<div class="container">
    <div class="row ">
        <div class="col-xm-4 mx-2">
<button  class="btn three" >
<a href="/account">Личный кабинет</a>
</button>
        </div>
        <div class="col-xm-4 mx-2">

<button  class="btn three">
<a href="/place">Создать место</a>
</button>
                </div>
                        <div class="col-xm-4 mx-2">

<button  class="btn three">
<a href="/favorite">Добавить в избранное</a>
</button>
<button  class="btn three">
    <a href="/deal">Предварительная стоимость</a>
</button>
                        </div>
    </div>
</div>
 {% endblock %}