{% extends 'main.html' %}
{% block content %}
{% load static %}
{% include "includes/navbar.html" %}
<h1 class="container jumbotron titleac text-center"><b>Личный кабинет: {{user.username}}</b></h1>
<div class="container">
    <div class="row ">
        <div class="col-xm-4 mx-2">
            <button  class="btn three btn-lg">
                <a href="/place">Создать место</a>
            </button>
        </div>
    </div>
</div>
<div class="container">
    {% if user_favorites|length == 0 %}
        <h1 class="mt-4 text-center"><b>Избранное: у Вас нет избранных мест</b></h1><hr>
        {% else %}
        <h2 class="mt-4 text-center"><b>Избранное:</b></h2><hr>
        <div class="row  row-flex table-bordered jumbotron">
        {% for f in user_favorites %}
            <form action="{% url 'detail' f.place_favorite.id %}" method='POST'>
                {% csrf_token %}
                <div class="up  col-md-pull-4  ml-5 my-4 ">
                    <div class="jump card shad" style="width: 18rem; height: 20em;">
                        <a href="/{{f.place_favorite.id}}" class="text-center pt-1 pb-2" style="width: 18rem; height: 4em; text-decoration: none;color: whitesmoke;background-color: lightseagreen;"><h4>{{ f.place_favorite }}</h4></a>
                    <img src="{{ f.place_favorite.pictures_place.url}}" class="card-img-top" alt="{{ pl.name_place }}"style="height: 10em;">
                        <div class="card-body" style="text-align: center; background-color: lightcyan">
                        <button type="submit" class="btn btn-primary">Узнать подробнее</button>
                            </div>
                    </div>
                    </div>
            </form>
        {% endfor %}
        </div>
        </div>
    {% endif %}
{% endblock %}