{% extends 'main.html' %}
{% block content %}
<h1></h1>
<form enctype="multipart/form-data" action="{% url 'add_deal' pl.id %}" method='POST'>
{% csrf_token %}
  <p><b>Наименование сделки:</b><br>
  <input name="name_deal" type="text" required />
  </p>
  <p><b>Количество билетов:</b><br>
  <input name ="count_ticket" type="number" required />
  </p>
  <p><b>Льготы:</b></p>
  <input name ="privileges_deal" type="checkbox" required />
  </p>

  <p><input type="submit" class="button" value="Добавить"/></p>
</form>

{% endblock %}