{% extends 'main.html' %}
{% block content %}
<div class=" "><h1 class=" container jumbotron text-center "><b>Регистрация</b></h1></div>
    <div class="container borderpegister table-bordered  p-5" style="background-color: lightblue;">

        <form action="" method="post">
          {% csrf_token %}
          <!-- as_p для того, чтобы каждый элемент формы был с новой строки -->
            <h3> {{ form.as_p }}</h3>
          <button class="btn btn-info btn-lg" type="submit">Зарегистрироваться</button>
        </form>

</div>
{% endblock %}